$fuente:'Open Sans', sans-serif;
$logo_ancho:55px;
$logo_alinear:center;
$ul_margen:50px;
$menu_horizontal:inline;
$menu_padding:12px;
$menu_magen:9px;
$menu_tamanofuente:14px;
$imagencircular:8.5%;
$imagenenCirculo:50%;
$color_azul:#4285f4;
$gris_texto:#414549;