@import 'variables';
@import 'grid';
body{
font-family:$fuente;
}
#logo{
height: $logo_ancho;
align-content: center;
}
#menu{


margin-left: $ul_margen;

li{
display:$menu_horizontal;
padding-left: $menu_padding;
padding-right: $menu_padding;
margin-right:$menu_magen;
font-size: $menu_tamanofuente;
}
}
#cabecera{

width: 100%;
margin: 20px auto;
box-sizing: border-box;
img{
@extend #cabecera ;
}
}
#newsfeed{
img{
@extend #cabecera
}
}
#imagenes{
img{
@extend #cabecera
}
}
#imagenes_derecha{
.grande{
@extend #cabecera
}
}
.chica{
width:$imagencircular;
border-radius:$imagenenCirculo
}
.brand{
img{
@extend #cabecera
}
}

.seccioncuatro_imagenes{
.grande_cuatro{

@extend #cabecera

}
}
.seccioncinco_imagenes{
.imagen_grande{
@extend #cabecera
}
}
.imagen_pequena{
width: 10%;

}
hr{
border:solid 2px $color_azul; 

}
.margen{
	margin-bottom:23px;
}
p{
	color:$gris_texto;
}
